.button {
  padding: 10px 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: $lightest;
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;

  &--rounded {
    border-radius: 37px;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $lightest;
  }
  
  @media (min-width: $desktop-width) {
    padding: 15px 36px;
  }
}